PORT=5000
BACKEND_URL=http://localhost:5000/
FRONTEND_URL=http://localhost:5173/
MONGO_URI=
VAPID_PUBLIC_KEY=BO8yBO7KNhjIDZeYkFS3Q7gkTdfWNeI_H5U1ZHN7RIr5zdGEIP8knc_CukgcKE9m26wN12ejkCN0aKT9haWYwpk
VAPID_PRIVATE_KEY=Raiwd_dAIgtTW0R0JzPBGt3TpvRhwvHGOxL9eQe8rkI
JWT_SECRET=secret123
EMAIL_USERNAME=
EMAIL_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
BACKEND_URL_WITHOUT_SLASH=http://localhost:5000
IMGBB_API_KEY=1566335917452f851509f87967addcce